# Ignore node_modules directory
node_modules/

# Ignore Composer dependencies
vendor/

# Ignore environment variables
*.env

# Ignore IDE config files
.idea/
.vscode/

# Ignore log files
storage/logs/

# Ignore Composer lock file (optional, if you don't want to lock dependencies)
composer.lock

# Ignore other system files
.DS_Store
Thumbs.db

# Ignore other build or dependency directories
/dist
/build

# Ignore api keys
backend/phpunit.xml
backend/fluent-justice-431711-m6-a1aefe34f6ad.json

# Ignore debug file
*.log
*.txt


# Ignore server settings file
.htaccess

# Ingore folders
.netlify

/audio