<div class="cefr-lesson-selector">
  <!-- CEFR LEVEL and Lesson Dropdowns -->
  <div class="cefr-selectors">
    <!-- CEFR LEVEL Dropdown -->
    <div>
      <label for="cefrLevel" i18n="@@cefrLevelLabel">Select CEFR Level:</label>
      <select
        id="cefrLevel"
        (change)="onCefrLevelSelect($event)"
        [value]="selectedCefrLevel"
        i18n-aria-label="@@cefrLevelAriaLabel"
        aria-label="Select CEFR Level"
      >
        @for(level of cefrLevels; track $index){
        <option [value]="level">{{ level }}</option>
        }
      </select>
    </div>

    <!-- Lessons Dropdown -->
    <div>
      <label for="lesson" i18n="@@lessonLabel">Select Lesson:</label>
      <select
        id="lesson"
        (change)="onLessonSelect($event)"
        [disabled]="lessons.length === 0"
        i18n-aria-label="@@lessonAriaLabel"
        aria-label="Select Lesson"
      >
        @if(lessons.length === 0){
        <option value="0"></option>
        } @for(lesson of lessons; track lesson.lesson_number){
        <option [value]="lesson.lesson_number">
          <span i18n="@@lessonNumber">Lesson</span>
          {{ lesson.lesson_number }}
        </option>
        }
      </select>
    </div>
  </div>

  <!-- Message -->
  <div class="notice-container">
    @if(errorMessage || successMessage){
    <app-notice
      [message]="errorMessage"
      [isError]="true"
      i18n-aria-label="@@errorMessageAriaLabel"
      aria-label="Error message"
    ></app-notice>
    <app-notice
      [message]="successMessage"
      [isError]="false"
      i18n-aria-label="@@successMessageAriaLabel"
      aria-label="Success message"
    ></app-notice>
    }
  </div>
</div>

<!-- word container -->
@if(paginatedWords.length > 0){
<div class="words-grid">
  @for(word of paginatedWords; track word.id){
  <div class="word-card">
    <h3>
      {{ word.german_word }}
    </h3>
    <p>
      <strong i18n="@@translation">Translation:</strong> {{ word.translation }}
    </p>
    <p><strong i18n="@@example">Example:</strong> {{ word.example }}</p>
    @if (word.pronunciation_url) {
    <app-audio-player [audioSrc]="word.pronunciation_url"></app-audio-player>
    }
  </div>
  }
</div>
<app-paginator
  [length]="allWords.length"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  [pageSizeOptions]="[4, 8, 12, 16, 20]"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
  i18n-aria-label="@@paginatorAriaLabel"
  aria-label="Pagination control"
></app-paginator>
}
