.cefr-lesson-selector {
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem var(--shadow-color);
  color: var(--text-color);
  text-align: left;
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
}

.cefr-selectors {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.cefr-lesson-selector label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--text-secondary-color);
}

.cefr-lesson-selector select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid var(--border-color);
  background-color: var(--background-color-lighter);
  color: var(--text-color);
  transition: border-color 0.3s ease;
  margin-bottom: 1rem;
}

.cefr-selectors select {
  flex: 1;
  min-width: 45%;
}

.cefr-lesson-selector select:focus {
  outline: none;
  border-color: var(--primary-color);
}

.cefr-lesson-selector option {
  background-color: var(--background-color);
  color: var(--text-color);
  min-width: 14rem;
}

.notice-container {
  margin-top: 0.125rem;
}

/* Word Container */
.words-grid {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Adjust the columns based on screen size */
  gap: 1rem;
  padding: 1rem;
  background-color: var(--background-color-lighter);
  border-radius: 0.5rem;
}

.word-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.0625rem 0.1875rem var(--shadow-color);
  transition: transform 0.2s ease-in-out;
}

.word-card h3 {
  margin-top: 0;
  font-size: 1.25rem;
  color: var(--text-color);
}

.word-card p {
  margin: 0.5rem 0;
  color: var(--text-secondary-color);
}

.word-card audio {
  width: 70%;
  max-width: 70%;
  height: 40px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--accent-color);
  border-radius: 22px;
}

/* Responsive Design */

@media (max-width: 30rem) {
  .words-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 30.0625rem) and (max-width: 48rem) {
  .words-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 48.0625rem) and (max-width: 64rem) {
  .words-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 64.0625rem) {
  .words-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
