.sidenav-container {
  min-height: calc(100vh - 56px); /* For the footer height */
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  padding-bottom: 1rem;
  margin-top: 4rem;
}

.mat-mdc-progress-color.mat-accent {
  --mdc-linear-progress-active-indicator-color: var(--primary-color);

  --mdc-linear-progress-track-height: 7px !important;

  border-radius: 5px !important;
}

/* Loading Bar Styles */
.loading-bar-container {
  height: 8px;
}

.loading-bar {
  height: 8px;
  visibility: hidden;
}

.loading-bar.active {
  visibility: visible;
}

/* Mobile devices - max width 480px */
@media (max-width: 480px) {
  .content {
    margin-top: 3rem;
  }
}

/* Small tablets - min width 481px and max width 768px */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Tablets and small desktops - min width 769px and max width 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .content {
    margin-top: 4rem;
  }
}

/* Large desktops - min width 1025px */
@media (min-width: 1025px) {
}
