.sidenav-container {
  min-height: calc(100vh - 56px); /* Adjust for the footer height */
  display: flex;
  flex-direction: column;
  background-color: var(--background-color); /* Apply background color */
  color: var(--text-color); /* Apply text color */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  padding-bottom: 1rem;
}

/* Loading Bar Styles */
.loading-bar-container {
  height: 4px; /* Reserve space for the progress bar */
}

.loading-bar {
  height: 4px; /* Ensure the progress bar height matches */
  visibility: hidden; /* Hide by default */
}

.loading-bar.active {
  visibility: visible; /* Show when active */
}

/* Responsive adjustments, if needed */
@media screen and (max-width: 600px) {
  .content {
    margin-top: 1.5rem; /* Adjust the top margin for the mobile navbar */
  }
}

@media screen and (min-width: 601px) {
  .content {
    margin-top: 1rem; /* Maintain the margin for larger screens */
  }
}
