<footer class="main-footer">
  <span>&copy; {{ currentYear }} Shahriar Malik. All rights reserved.</span>
  <nav>
    <ul class="main-footer__links">
      <li class="main-footer__link">
        <a
          href="https://github.com/ShahriarMalik"
          target="_blank"
          aria-label="GitHub"
        >
          <!-- <mat-icon svgIcon="github"></mat-icon> -->
        </a>
      </li>
      <li class="main-footer__link">
        <a
          href="https://www.linkedin.com/in/shahriar-malik-46a09411a/"
          target="_blank"
          aria-label="LinkedIn"
        >
          <!-- <mat-icon svgIcon="linkedin"></mat-icon> -->
        </a>
      </li>
      <li class="main-footer__link">
        <a
          href="https://www.xing.com/profile/Shahriar_Malik/web_profiles"
          target="_blank"
          aria-label="Xing"
        >
          <!-- <mat-icon svgIcon="xing"></mat-icon> -->
        </a>
      </li>
    </ul>
  </nav>
</footer>
