:host {
  display: block;
  width: 100%;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-toolbar,
.mat-button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.mat-card {
  background-color: var(--background-color);
  color: var(--text-color);
}

.logo {
  font-size: 0.75rem;
  font-weight: bold;
}

.menu-item {
  margin-left: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-right: 10px;
}

button[mat-button] {
  display: flex;
  align-items: center;
}

.language-selection {
  display: flex;
  align-items: center;
}

.language-selection img {
  margin-right: 8px;
}

.language-selection span {
  margin-right: 4px;
}

.language-selection mat-icon {
  vertical-align: middle;
  font-size: 16px;
}
