<mat-toolbar color="primary">
  <!-- Mobile Menu Icon -->
  <button
    mat-icon-button
    aria-label="Menu"
    i18n-aria-label="@@menuButton"
    class="menu-button"
    [matMenuTriggerFor]="mobileMenu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span class="logo" i18n="@@appLogo">
    <img
      src="assets/images/logo.png"
      alt="Logo"
      width="40"
      height="40"
      i18n-alt="@@logoAlt"
    />
  </span>

  <mat-menu #mobileMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="learnMenu" i18n="@@learnButton">
      Learn
    </button>
    <button mat-menu-item i18n="@@exercisesButton">Exercises</button>
    <button mat-menu-item i18n="@@tipsButton">Tips</button>
    @if (isLoggedIn) {
    <button mat-menu-item i18n="@@myWordsButton">My Words</button>
    }
    <button mat-menu-item i18n="@@loginButton">Login</button>
    <button mat-menu-item i18n="@@signUpButton" routerLink="/auth/signup">
      Sign Up
    </button>
  </mat-menu>

  <!-- Full Menu for Larger Screens -->
  <button
    mat-button
    [matMenuTriggerFor]="learnMenu"
    class="menu-item"
    i18n="@@learnButton"
  >
    Learn
  </button>
  <mat-menu #learnMenu="matMenu">
    <button mat-menu-item>A1</button>
    <button mat-menu-item>A2</button>
    <button mat-menu-item>B1</button>
    <button mat-menu-item>B2</button>
    <button mat-menu-item>C1</button>
    <button mat-menu-item>C2</button>
  </mat-menu>

  <button mat-button i18n="@@exercisesButton">Exercises</button>
  <button mat-button i18n="@@tipsButton">Tips</button>

  @if (isLoggedIn) {
  <button mat-button i18n="@@myWordsButton">My Words</button>
  }

  <span class="spacer"></span>

  <!-- Search -->
  <button mat-icon-button aria-label="search" i18n-aria-label="@@searchButton">
    <mat-icon>search</mat-icon>
  </button>

  <!-- Language Toggle -->
  <button mat-button [matMenuTriggerFor]="languageMenu" class="language-button">
    <div class="language-selection">
      @if(currentLanguage == 'en'){
      <img
        src="assets/images/en.png"
        alt="English Flag"
        width="20"
        height="20"
        i18n-alt="@@englishFlagAlt"
      />
      } @else if (currentLanguage == 'de') {
      <img
        src="assets/images/de.png"
        alt="German Flag"
        width="20"
        height="20"
        i18n-alt="@@germanFlagAlt"
      />
      }
      <span>{{ currentLanguage.toUpperCase() }}</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </button>

  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="changeLanguage('en')">
      <div class="language-selection">
        <img
          src="assets/images/en.png"
          alt="English Flag"
          width="20"
          height="20"
          i18n-alt="@@englishFlagAlt"
        />
        <span>EN</span>
      </div>
    </button>
    <button mat-menu-item (click)="changeLanguage('de')">
      <div class="language-selection">
        <img
          src="assets/images/de.png"
          alt="German Flag"
          width="20"
          height="20"
          i18n-alt="@@germanFlagAlt"
        />
        <span>DE</span>
      </div>
    </button>
  </mat-menu>

  <!-- Theme Toggle -->
  <button
    mat-icon-button
    [matMenuTriggerFor]="themeMenu"
    aria-label="Toggle Theme"
    i18n-aria-label="@@toggleThemeButton"
  >
    <mat-icon>{{ isDarkTheme() ? "dark_mode" : "light_mode" }}</mat-icon>
  </button>

  <mat-menu #themeMenu="matMenu">
    <button mat-menu-item (click)="setTheme('dark')">
      <mat-icon>dark_mode</mat-icon>
      <span i18n="@@darkMode">Dark</span>
    </button>
    <button mat-menu-item (click)="setTheme('light')">
      <mat-icon>light_mode</mat-icon>
      <span i18n="@@lightMode">Light</span>
    </button>
  </mat-menu>

  <button mat-button i18n="@@loginButton">Login</button>
  <button mat-button i18n="@@signUpButton">Sign Up</button>
</mat-toolbar>
