:host {
  display: block;
  width: 100%;
  padding-top: 64px;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-card {
  background-color: var(--background-color);
  color: var(--text-color);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.menu-item,
button[mat-button] {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.language-selection {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.language-selection img {
  margin-right: 8px;
}

.language-selection span {
  margin-right: 4px;
  color: var(--accent-color);
}

.language-selection mat-icon {
  vertical-align: middle;
  font-size: 16px;
  color: var(--text-color);
}

.menu-button {
  display: none;
  color: var(--text-color);
}

.mat-menu-panel {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-menu .mat-menu-item {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-menu .mat-menu-item:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* Mobile Styles */
@media screen and (max-width: 600px) {
  .mat-toolbar {
    padding: 0 10px;
    background-color: var(--background-color);
    color: var(--text-color);
  }

  .menu-item,
  button[mat-button]:not(.language-button) {
    display: none;
  }

  .menu-button {
    display: inline-flex;
    color: var(--text-color);
  }

  .logo img {
    width: 30px;
    height: 30px;
  }
}

/* Desktop Styles */
@media screen and (min-width: 601px) {
  .menu-button {
    display: none;
  }

  .menu-item,
  button[mat-button] {
    display: inline-flex;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }

  .mat-toolbar {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}

.mat-icon {
  color: var(--text-color);
}
