<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <h2 class="title">Login</h2>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <!-- Email Field -->
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" id="email" formControlName="email" />
          @if(email?.invalid && email?.dirty && email?.touched){
          <mat-error>
            @if(email?.errors?.['required']){
            <small>Email is required.</small>
            } @if(email?.errors?.['email']){
            <small>Invalid email address.</small>
            }
          </mat-error>
          }
        </mat-form-field>

        <!-- Password Field -->
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            id="password"
            formControlName="password"
          />
          @if(password?.invalid && password?.touched){
          <mat-error>
            @if(password?.errors?.['required']){
            <small>Password is required.</small>
            } @if(password?.errors?.['minlength']){
            <small>Password must be at least 6 characters long.</small>
            }
          </mat-error>
          }
        </mat-form-field>

        <!-- Submit Button -->
        <div class="button-container">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
