/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Light Theme*/
:root {
  --primary-color: #1976d2;
  --accent-color: #e91e63;
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark Theme*/
.dark-theme {
  --primary-color: #bb86fc;
  --accent-color: #03dac6;
  --background-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-toolbar {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.mat-card {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-button {
  background-color: var(--primary-color);
  color: var(--text-color);
}
