/* Global styles */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Light Theme (Azure Blue) */
body.light-theme {
  --primary-color: #bbdcfd;
  --accent-color: #e91e63;
  --background-color: #ffffff;
  --text-color: #000000;

  /* Applying the Azure Blue theme styles */
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Dark Theme */
body.dark-theme {
  --primary-color: #bb86fc;
  --accent-color: #03dac6;
  --background-color: #121212;
  --text-color: #ffffff;

  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
